<html>

    <head>
        <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>

    </head>

    <body>
        index
    </body>

    <script>
        $.ajax({
            url: "../json/test",
            type: "get",
            cache: false,
            async: false,
            contentType: "application/json",

            success: function( result ) {
                console.log(result)
                console.log(typeof result)
            },
            error:function (error) {
                console.log(error)
            }
        });
    </script>
</html>